
<div class="city-info">
  <h1>  <%= @city.name%> </h1>
    <div id="weather"></div>
    <h4>Click below to see what's going on in your city</h4><button id="show">event listener</button>
    <div class="city-event"></div>
    <div class="city-image"></div>


</div>



<!-- create a button that will show all the events here (HOW MANY EVENTS DO YOU WANT TO BE DISPLAYED) -->
<!-- button on each event that can 'add' it to the city (list of events that you want to attend.. to the user's events for that specific city' -->
<!-- that will then create an 'INDEX page for all the events that you've chosen..' -->
